node_modules/

# Source files
lib/

# Dotfiles
.vscode
.DS_Store
.prettierrc*
.eslintrc*
.eslintignore

# Config files
license-header.js
jestconfig.json
tsconfig.json
default.nix

# Tests
coverage/
test/

# GitHub Actions
.github/
