body {
  font-family: 'Geist', 'InterDisplay', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-feature-settings: 'calt' off;
}

@font-face {
  font-family: 'InterDisplay';
  font-display: swap;
  font-weight: 200;
  src: url('../fonts/InterDisplay-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/InterDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('../fonts/InterDisplay-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 100 1000;
  src: url('../fonts/Sentient-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Switzer';
  font-weight: 100 1000;
  src: url('../fonts/Switzer-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-weight: 100 1000;
  src: url('../fonts/Geist-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./RobotoMono-var.ttf') format('truetype');
  font-weight: 100 1000;
}
